.head{
    height: 100px;
}
.sign{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}   
.button{
    height: 40px;
    width: 85px;
    background-color: rgb(0, 255, 136);
    color: black;
    font-size: larger;
    border-radius: 5px;
}
input{
    height: 30px;
    width: 350px;
    background-color: rgb(217, 233, 236);
    color: black;
    font-size: larger;
}
.centered{
    color: rgb(5, 17, 16);
    text-align: center;
    font-size: xxx-large;
}
.addItem{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}  
.addItem .button{
    height: 40px;
    width: 105px;
    background-color: rgb(68, 140, 221);
    color: black;
    font-size: larger;
    border-radius: 5px;
}
#addItem{
    visibility: hidden;
}
#a{
    margin-top: -5px;
}
#b{
    margin-top: -15px;
    margin-bottom: 5px;
}
.bodyPart{
    margin-top: -15px;
}